@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

i {
    font-size: 32px;
    margin-bottom: 24px;
}

p {
    line-height: 1.5;
}

.purple {
    color: #7342d6
}

h1{
    font-size: 50px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*

Navigation

*/

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 24px;    
}

.logo {
    width: 160px;
}

.nav__links {
    padding: 0 36px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    padding-top: 12px;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

/*

Landing

*/

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    z-index: 2;
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 12px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.no__cursor {
    cursor: not-allowed;
}
/*

Highlights

*/

#highlights {
    position: relative;
}

#highlights:before {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
    width: 101vw;
    height: 12vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#highlights:after {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    bottom: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100%) rotate(180deg);
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlight__wrapper {
    display: flex;
    flex: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100% /3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight__subtitle {
    font-size: 28px;
    margin-bottom: 16px;
    text-align: center;
}

/*

Features

*/

#features {
    padding-top: 16vh;
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.book {
    width: 25%;
    padding: 24px;
}

 .book__img {
    max-height: 300px; 
    transition: all 300ms ease;
    cursor: not-allowed;
 }

 .book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
 }

.book:hover .book__img {
    transform: scale(1.03);
}

.fa-solid, fa-star{
    font-size: 24px;
}

.book__title {
    margin-top: 12px;
    font-size: 20px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.books__ratings {
    margin-top: 16px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf
}

/*

Recent

*/

#recent {
    padding-top: 8vh;
    background-color: #ffffff;
}

.books {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.book {
    width: 25%;
    padding: 24px;
}

 .book__img {
    max-height: 300px; 
    transition: all 300ms ease;
    cursor: not-allowed;
 }

 .book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
 }

.book:hover .book__img {
    transform: scale(1.03);
}

.fa-solid, fa-star{
    font-size: 24px;
}

.book__title {
    margin-top: 12px;
    font-size: 20px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.books__ratings {
    margin-top: 16px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf
}

/* Explore */

#explore {
    background-color:rgba(115, 66, 214, 0.1)
}

.explore__row {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* Footer */

footer {
    background-color: #242424;    
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(100%);
}

.footer__list,
.footer__copyright {
    color: white;
}

.footer__list {
    margin: 16px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Responsive Design */

@media(max-width:768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .books {
        width: 50%;
    }

    #features {
        padding-top: 4vh;
}

    .books {
        display: flex;
        flex: wrap;
}

    .book {
        width: 50%;
    }

    .fa-solid, fa-star{
        font-size: 12px;
    }


}

@media(max-width: 550px) {
    .nav__links {
        display: none;
    }
    
    .btn__menu {
        display: block;
    }

    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }

    #features {
    padding-top: 4vh;
}

.books {
    display: flex;
    flex: wrap;
}

.book {
    width: 50%;
}

.fa-solid, fa-star{
    font-size: 10px;
}

.book__title {
    font-size: 16px;
}

}

